@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: #b9e0f2;
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #0f172a;
}

.card {
  width: calc(100% - 30px);
  max-width: 360px;
  text-align: center;
  margin: 15px;
  padding: 10px 20px;
  border: 1px solid #222f43;
  border-radius: 20px;
  background-color: #131c31;
  color: #b9e0f2;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);

  .heading {
    padding: 0 0 20px 0;
    margin: 0 30px;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);

    &__title {
      font-weight: 700;
      font-size: 3rem;
      margin-bottom: 0;
    }

    &__subtitle {
      font-size: 1.6rem;
    }
  }

  .list {
    list-style: none;
    margin: 0 30px;

    &__item {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0;
      margin: 10px 0;
    }

    &__text {
      font-size: 1.4rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    &__button {
      position: relative;
      z-index: 2;
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      border: 1px solid #b9e0f2;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.4s ease-out 0.5s;
    }

    &__checkmark {
      position: absolute;
      top: 2px;
      right: 0;
      stroke: #fff;
      fill: none;
      stroke-width: 1.5;
      stroke-dasharray: 30 30;
      stroke-dashoffset: 30;
      transition: all 0.5s ease-out;
    }

    input {
      display: none;

      &:checked ~ .list__text {
        color: rgba(255, 255, 255, 0.4);
        text-decoration: line-through;
        transition: all 0.2s ease-in;
      }

      &:checked ~ .list__button {
        transition: all 0.4s ease-in;
        transform: scale(1.5);
        opacity: 0;
      }

      &:checked ~ .list__checkmark {
        stroke-dashoffset: 0;
        transition: all 0.5s ease-out 0.4s;
      }
    }
  }
}
