@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: #fff;
  line-height: 1.5;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0f172a;
}

h1 {
  font-size: 10vw;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  width: 100%;
}

.overlay {
  z-index: 2;
}

.line {
  background-color: #b9e0f2;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: -1vw;
  transform: translateY(-50%);
  height: 2vw;
  width: 0;
  animation: grow 3s linear forwards;
  z-index: 2;
}

@keyframes grow {
  to {
    width: 68vw;
  }
}
