@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: #fff;
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0f172a;
}

.error {
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.95);
}

.content {
  max-width: 480px;
  text-align: center;

  h1 {
    font-size: 20rem;
    line-height: 1;
    position: relative;

    &:after {
      position: absolute;
      content: attr(data-text);
      top: 0;
      left: 0;
      right: 0;
      background: -webkit-repeating-linear-gradient(
        -45deg,
        #71b7e6,
        #69a6ce,
        #b98acc,
        #ee8176,
        #b98acc,
        #69a6ce,
        #9b59b6
      );
      background-size: 400%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: animate 10s ease-in-out infinite;
    }
  }

  h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #000;
    position: relative;

    &:after {
      position: absolute;
      content: attr(data-text);
      top: 0;
      left: 0;
      right: 0;
      text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  p {
    font-size: 1.6rem;
    color: #0d0d0d;
  }

  .btns {
    margin: 25px 0;
    display: inline-flex;

    a {
      display: inline-block;
      margin: 0 10px;
      text-decoration: none;
      border: 2px solid #0ea5ea;
      color: #69a6ce;
      font-size: 1.8rem;
      font-weight: 700;
      font-family: inherit;
      padding: 6px 30px;
      border-radius: 25px;
      text-transform: uppercase;
      transition: all 0.3s ease;

      &:hover {
        background: #0ea5ea;
        color: #fff;
      }
    }
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
